<main class="form-container">
  <h1 class="home-title">Quiz App</h1>
  <section class="home-section">
    <% if current_user %>
      <h4 class="username">Hi! <%= current_user.name %> </h4>
      <%= button_to 'See Quizzes', quizzes_path, method: :get, class: 'home-btn' %>
    <% else %>
      <h4 class="username">Welcome 👋</h4>
      <div class="buttons-div">
        <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'home-btn devise-btn' %>
        <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'home-btn devise-btn' %>
      </div>
    <% end %>
  </section>
</main>
