<main class="form-container">
  <% if current_user %>
    <h1>Hi! <%= current_user.name %> </h1>
  <% else %>
    <h1>Welcome 👋</h1>
    <h2>Quiz App</h2>
    <div>
      <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'devise-btn log-in-btn' %>
      <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'devise-btn' %>
    </div>
  <% end %>
</main>
