.form-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/app/assets/images/home_background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(19, 137, 233, 0.55);
}