.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  height: 100vh;
  gap: 2.5rem;
  padding: 5rem 0;

  h1 {
    font-size: 3.3rem;
    color: var(--white);
    font-family: monospace;
  }

  .quizzes-div {
    gap: 1rem;
  }

  .quiz-title {
    color: var(--light-purple);
    font-family: var(--monospace);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem 0;
  }
}

.quiz-link {
  color: var(--white);
  font-family: var(--kdam);
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--dark-purple);
  padding: 1rem 1.2rem;
}

.new-quiz {
  color: var(--white);
  font-family: var(--monospace);
  text-decoration: none;
  font-size: 1.4rem;
}

.submit-btn-div input {
  background-color: var(--dark-purple);
  color: var(--white);
  padding: 1rem 1.2rem;
  border: none;
  font-family: var(--monospace);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.submit-btn-div input:hover {
  background-color: var(--white);
  color: var(--dark-purple);
}

.question-title {
  font-family: var(--kdam);
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  color: var(--white);
}

.question-answer, .link-answer {
  font-family: var(--monospace);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  color: var(--light-purple);
}

.link-answer a {
  color: var(--white);
}

.created {
  color: var(--white);
  font-family: var(--monospace);
  text-decoration: none;
  font-size: 0.9rem;
}

.delete-btn {
  margin-top: 1.5rem;
  background-color: #4a0409;
  padding: 1rem 1.2rem;
}

.delete-btn button {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-family: var(--monospace);
  font-size: 1.5rem;
  font-weight: 600;
}